<!DOCTYPE html>
<html>
<head>
    <h1>Perfect Number</h1>
</head>
<body>
<link rel="stylesheet" type="text/css" href="../static/CSS/form.css" />
<h2>List The Perfect Numbers</h2>

<form method="post">
  First number:<br>
  <input type="number" name="start" placeholder="Enter Here" required>
  <br>
  Last number:<br>
  <input type="number" name="end" placeholder=" Enter Here" required>
  <br><br>
  <input name="submit1" type="submit" value="List Numbers">
</form>

<br>
<br>

<h2>Is It Perfect Number?</h2>
<form method="post">
  Enter Number:<br>
  <input type="number" name="isPerfectNumber" placeholder="Enter Number" required>
  <br>
  <input name="submit2" type="submit" value="Is a Perfect Number">
</form>

</body>
</html>